<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>JVPNServerHost</key>
	<string>$(JVPN_SERVER_HOST)</string>
	<key>JVPNServerPort</key>
	<string>$(JVPN_SERVER_PORT)</string>
	<key>JVPNSharedToken</key>
	<string>$(JVPN_SHARED_TOKEN)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>JVPN uses your location to choose the best server while connected.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>JVPN uses your location to choose the best server while the VPN is connected.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>JVPN uses your location to choose the best server while the VPN is connected.</string>
	<key>NSLocationUsageDescription</key>
	<string>JVPN uses your location to choose the best server while connected.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
</dict>
</plist>
